In [1]:
import pandas as pd
from os import path

In [265]:
doc_path = "/data/elekin/doc"
df=pd.read_csv(path.join(doc_path,"metadata-202106-v1.csv"),index_col=0)
df[df["temblor"]=='si']

,abs_path,relative_path,temblor,Sexo,TRS,age
name,,,,,,
T001,/data/elekin/data/origin/ethw/protocolo_temblo...,T001/session00001/u00005s00001_hw00001.svc,si,M,36,74
T002,/data/elekin/data/origin/ethw/protocolo_temblo...,T002/session00001/u00006s00001_hw00001.svc,si,M,40,71
T005,/data/elekin/data/origin/ethw/protocolo_temblo...,T005/session00001/u00009s00001_hw00001.svc,si,M,29,69
T006,/data/elekin/data/origin/ethw/protocolo_temblo...,T006/session00001/u00010s00001_hw00001.svc,si,F,19,77
T008,/data/elekin/data/origin/ethw/protocolo_temblo...,T008/session00001/u00013s00001_hw00001.svc,si,F,3,68
T009,/data/elekin/data/origin/ethw/protocolo_temblo...,T009/session00001/u00014s00001_hw00001.svc,si,F,16,66
T010,/data/elekin/data/origin/ethw/protocolo_temblo...,T010/session00001/u00015s00001_hw00002.svc,si,M,16,61
T012,/data/elekin/data/origin/ethw/protocolo_temblo...,T012/session00001/u00005s00001_hw00001.svc,si,F,11,51
T012,/data/elekin/data/origin/ethw/protocolo_temblo...,T012/session00001/u00005s00001_hw00002.svc,si,F,11,51
T013,/data/elekin/data/origin/ethw/protocolo_temblo...,T013/session00001/u00006s00001_hw00002.svc,si,F,3,50
T015,/data/elekin/data/origin/ethw/protocolo_temblo...,T015/session00001/u00008s00001_hw00002.svc,si,M,8,77
T018,/data/elekin/data/origin/ethw/protocolo_temblo...,T018/session00001/u00009s00001_hw00002.svc,si,M,5,47
T021,/data/elekin/data/origin/ethw/protocolo_temblo...,T021/session00001/u00014s00001_hw00001.svc,si,F,3,81
T023,/data/elekin/data/origin/ethw/protocolo_temblo...,T023/session00001/u00016s00001_hw00002.svc,si,F,18,79
T025,/data/elekin/data/origin/ethw/protocolo_temblo...,T025/session00001/u00017s00001_hw00002.svc,si,F,2,49
T027,/data/elekin/data/origin/ethw/protocolo_temblo...,T027/session00001/u00020s00001_hw00002.svc,si,M,50,79
T028,/data/elekin/data/origin/ethw/protocolo_temblo...,T028/session00001/u00021s00001_hw00002.svc,si,M,38,75
T029,/data/elekin/data/origin/ethw/protocolo_temblo...,T029/session00001/u00022s00001_hw00002.svc,si,F,9,77

In [266]:
filename=metadf[metadf.etona].abs_path.iloc[0]
#features=['x','y','timestamp','pen_up','azimuth','altitude','pressure']
features=['x','y','timestamp','pen_up','pressure']
data = pd.read_csv(filename, sep="\s+",header=None,names=features,skiprows=1,usecols=[0,1,2,3,6])

In [267]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1980 entries, 0 to 1979
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   x          1980 non-null   int64
 1   y          1980 non-null   int64
 2   timestamp  1980 non-null   int64
 3   pen_up     1980 non-null   int64
 4   pressure   1980 non-null   int64
dtypes: int64(5)
memory usage: 77.5 KB

In [268]:
data

         x     y  timestamp  pen_up  pressure
0     5310  3728    1845198       1       238
1     5311  3726    1845206       1       320
2     5311  3726    1845213       1       302
3     5312  3725    1845221       1       260
4     5313  3725    1845228       1       244
...    ...   ...        ...     ...       ...
1975  5404  4739    1860065       1       737
1976  5404  4739    1860072       0         0
1977  5404  4742    1860080       0         0
1978  5405  4740    1860087       0         0
1979  5413  4729    1860095       0         0

[1980 rows x 5 columns]